<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <style>
      body { font-family: Arial, sans-serif; margin: 0; padding: 0; background:
      #F3EFEF; color: #333; } a { text-decoration:none; color:black;
      font-weight: 500; } p { text-align:left; } hr { outline:none; border-top:
      dashed 0.5px #5B5B5D; } .container { width: 100%; margin: 0 auto; padding:
      20px; border-radius: 8px; } .header { text-align: center; margin-bottom:
      20px; } .header img { max-width: 150px; } .content { text-align: center;
      background-color: white; padding: 40px; margin: 70px -20px 70px -20px; }
      .content h1 { font-size: 24px; margin-bottom: 20px; } .content p {
      font-size: 14px; line-height: 1.5; margin-bottom: 20px; text-align:left; }
      .button-container { margin: 20px 0; } .button-container a {
      background-color: #F97316; color: #fff; text-decoration: none; padding:
      8px 30px; border-radius: 5px; font-size: 13px; } .footer { text-align:
      center; font-size: 12px; color: #999; } .social-icons img { margin: 0 5px;
      width: 32px; height: 32px; } .unsubscribe { margin-top: 20px; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img src="{{logoUrl}}" alt="Boilerplate" />
      </div>
      <div class="content">
        <img
          src={{imageUrl}}
          alt="Reset Password Image"
          onerror="this.style.display='none'"
        />

        <h1>{{title}}</h1>
        <p class="greeting"><strong>Hi {{userName}},</strong></p>
        <p>We have sent you a new activation link for your Boilerplate account.
          Please click the button below to activate your account:</p>
        <div class="button-container">
          <a href="{{activationLinkUrl}}">Activate Your Account</a>
        </div>
        <p><strong>Regards,<br />{{companyName}}</strong></p>
      </div>
      <div class="footer">
        <div class="social-icons">
          {{#each socialIcons}}
            <a href="{{this.url}}"><img
                src="{{this.imgSrc}}"
                alt="{{this.alt}}"
              /></a>
          {{/each}}
        </div>

        <p>Thank you for choosing "{{companyName}}". Need help?
          <a href="{{supportUrl}}">Contact our customer support</a></p>

        <hr />
        {{! <div class='  social-icons'>
          <a href='https://twitter.com'><img src='https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-only-logo-dark-gray/twitter@2x.png' alt='Twitter' /></a>
          <a href='https://instagram.com'><img src='https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-only-logo-dark-gray/instagram@2x.png' alt='Instagram' /></a>
          <a href='https://tiktok.com'><img src='https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-only-logo-dark-gray/tiktok@2x.png' alt='TikTok' /></a>
          <a href='https://linkedin.com'><img src='https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-only-logo-dark-gray/linkedin@2x.png' alt='LinkedIn' /></a>
        </div> }}
        <div class="unsubscribe">
          <p>You are receiving this email because you signed up at
            {{companyWebsite}}. Want to change how you receive these emails?</p>
          <p>You can
            <a href="{{preferencesUrl}}">update your preferences</a>
            or
            <a href="{{unsubscribeUrl}}">unsubscribe from this list</a>.</p>
        </div>
      </div>
    </div>
  </body>
</html>